<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- TODO: monitor this change -->
  <!-- this may cause Defender to quarantine CFSM -->
  <!-- <startup useLegacyV2RuntimeActivationPolicy="true"> -->
  <startup>
    <!-- force newer version of .NET Framework to be backward compatible -->
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <!-- <runtime> -->
  <!-- this is solution to MS error 'caused the assembly to be sandboxed' -->
  <!-- <loadFromRemoteSources enabled="true"/> -->
  <!-- </runtime> -->
  <!-- establish runtime status of App.config using ConfigurationSettings.AppSettings -->
  <appSettings>
    <add key="key" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
