#CFMGrid {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    color: #FFFFFF;
}

#CFMGrid td{
    font-size: 1em;
    padding: 3px 7px 2px 7px;
    background-color:#22313F;
}

#CFMGrid th {
   font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    color: #ffffff;
    background-color: #1F2D3A;
    border-bottom: 1px solid rgb(30, 139, 195);
 }

#CFMGrid tr.alt td {
    background-color:rgb(34, 49, 63);
}
